.shop-checkout .page-title {
    font-size: 2.1875rem;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
}
.shop-checkout .checkout-steps {
    display: flex;
    border-bottom: 2px solid #e4e4e4;
}
.shop-checkout .checkout-steps__item {
    flex-grow: 1;
    display: flex;
    gap: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}
.shop-checkout .checkout-steps__item-number {
    font-size: 1.125rem;
    font-weight: 500;
}
.shop-checkout .checkout-steps__item-title {
    display: flex;
    flex-direction: column;
}
.shop-checkout .checkout-steps__item-title > span {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
}
.shop-checkout .checkout-steps__item-title > em {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    color: #767676;
}
.shop-checkout .checkout-steps__item.active {
    border-color: #222222;
}
@media (max-width: 991.98px) {
    .shop-checkout .checkout-steps {
        border-bottom: 0;
        border-left: 2px solid #e4e4e4;
        flex-direction: column;
    }
    .shop-checkout .checkout-steps__item {
        border-left: 2px solid transparent;
        margin-left: -2px;
        border-bottom: 0;
        margin-bottom: 0;
        padding: 0.5rem 1rem;
    }
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 3.625rem;
}
@media (min-width: 1200px) {
    .shopping-cart {
        flex-direction: row;
    }
}
.shopping-cart .cart-table__wrapper {
    padding-top: 3.125rem;
    flex-grow: 1;
}
.shopping-cart__totals-wrapper .sticky-content {
    padding-top: 3.125rem;
}
.shopping-cart__totals-wrapper
    .mobile_fixed-btn_wrapper
    .button-wrapper:not(.fixed-btn) {
    padding: 0;
}
.shopping-cart__totals-wrapper .mobile_fixed-btn_wrapper .fixed-btn {
    position: fixed;
    left: var(--bs-gutter-x, 0.9375rem);
    right: var(--bs-gutter-x, 0.9375rem);
    bottom: 4rem;
    width: auto;
}
@media (min-width: 768px) {
    .shopping-cart__totals-wrapper .mobile_fixed-btn_wrapper .fixed-btn {
        bottom: 1rem;
    }
}
@media (min-width: 992px) {
    .shopping-cart__totals-wrapper .mobile_fixed-btn_wrapper .fixed-btn {
        position: static;
    }
}
.shopping-cart__totals-wrapper .btn-checkout {
    width: 100%;
    height: 3.75rem;
    font-size: 0.875rem;
}
.shopping-cart__totals {
    border: 1px solid #222;
    margin-bottom: 1.25rem;
    padding: 2.5rem 2.5rem 0.5rem;
    max-width: 100%;
}
@media (min-width: 1200px) {
    .shopping-cart__totals {
        width: 26.25rem;
    }
}
.shopping-cart__totals > h3,
.shopping-cart__totals > .h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}
.shopping-cart__totals table {
    width: 100%;
}
.shopping-cart__totals table th,
.shopping-cart__totals table td {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    font-weight: 500;
}
.shopping-cart__totals table th {
    text-transform: uppercase;
    vertical-align: baseline;
}
.shopping-cart__totals table tr:last-child th,
.shopping-cart__totals table tr:last-child td {
    border-bottom: 0;
}
.shopping-cart .cart-table {
    width: 100%;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table th,
    .shopping-cart .cart-table td {
        border-bottom: 1px solid #e4e4e4;
    }
}
.shopping-cart .cart-table thead {
    display: none;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table thead {
        display: table-header-group;
    }
}
.shopping-cart .cart-table thead th {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0 0.625rem;
}
.shopping-cart .cart-table tbody tr {
    position: relative;
    display: block;
    padding: 1.25rem 0;
    border-bottom: 1px solid #e4e4e4;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody tr {
        display: table-row;
        padding: 0;
        border: 0;
    }
}
.shopping-cart .cart-table tbody tr:first-child {
    border-top: 1px solid #e4e4e4;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody tr:first-child {
        border: 0;
    }
}
.shopping-cart .cart-table tbody tr:after {
    content: "";
    display: block;
    clear: both;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody tr:after {
        display: none;
    }
}
.shopping-cart .cart-table tbody td {
    display: block;
    margin-left: 9.375rem;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody td {
        padding: 1.875rem 0;
        display: table-cell;
        margin: 0;
    }
}
.shopping-cart .cart-table tbody td:first-child {
    width: 9.375rem;
    float: left;
    margin-left: 0;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody td:first-child {
        float: none;
    }
}
.shopping-cart .cart-table tbody td .shopping-cart__product-price {
    display: none;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody td .shopping-cart__product-price {
        display: block;
    }
}
.shopping-cart .cart-table tbody td .shopping-cart__subtotal {
    float: right;
    display: block;
    margin-top: -2.2rem;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody td .shopping-cart__subtotal {
        float: none;
        margin: 0;
    }
}
.shopping-cart .cart-table tbody td .remove-cart {
    position: absolute;
    right: 0;
    top: 1rem;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table tbody td .remove-cart {
        position: static;
    }
}
.shopping-cart .cart-table .qty-control {
    margin: 0.5rem 0;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table .qty-control {
        width: 7.25rem;
        margin: 0;
    }
}
.shopping-cart .cart-table .qty-control__number {
    border: 0;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table .qty-control__number {
        border: 2px solid #e4e4e4;
        height: 3.125rem;
        padding: 0 2rem;
        min-width: 6.875rem;
    }
}
.shopping-cart .cart-table .qty-control__reduce,
.shopping-cart .cart-table .qty-control__increase {
    font-size: 1rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.shopping-cart .cart-table .qty-control__reduce {
    left: 0;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table .qty-control__reduce {
        left: 1.25rem;
    }
}
.shopping-cart .cart-table .qty-control__increase {
    right: 0;
}
@media (min-width: 768px) {
    .shopping-cart .cart-table .qty-control__increase {
        right: 1.25rem;
    }
}
.shopping-cart .cart-table-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
    gap: 1.875rem;
    flex-wrap: wrap;
}
.shopping-cart .cart-table-footer form {
    max-width: 100%;
}
.shopping-cart .cart-table-footer .form-control {
    width: 23.125rem;
    max-width: 100%;
    height: 3.875rem;
}
.shopping-cart .cart-table-footer button {
    height: 3.875rem;
}
.shopping-cart__product-item {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}
.shopping-cart__product-item img {
    width: 7.5rem;
    height: auto;
}
.shopping-cart__product-item__detail h4,
.shopping-cart__product-item__detail .h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
}
.shopping-cart__product-item__options {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}
.shopping-cart__product-item__options li {
    font-size: 0.875rem;
    color: #767676;
}
.shopping-cart__product-price {
    font-size: 1rem;
    color: #767676;
}
.shopping-cart__subtotal {
    font-size: 1rem;
    font-weight: 500;
}

.checkout-form {
    display: flex;
    gap: 3.625rem;
}
@media (max-width: 1199.98px) {
    .checkout-form {
        flex-direction: column;
    }
}
.checkout-form .billing-info__wrapper {
    padding-top: 3.125rem;
    flex-grow: 1;
}
.checkout-form .billing-info__wrapper .form-floating > label,
.checkout-form .billing-info__wrapper .form-label-fixed > .form-label {
    color: #767676;
}
.checkout-form .checkout__totals-wrapper .sticky-content {
    padding-top: 3.125rem;
}
.checkout-form .checkout__totals-wrapper .btn-checkout {
    width: 100%;
    height: 3.75rem;
    font-size: 0.875rem;
}
.checkout-form .checkout__payment-methods {
    border: 1px solid #e4e4e4;
    margin-bottom: 1.25rem;
    padding: 2.5rem 2.5rem 1.5rem;
    width: 26.25rem;
}
@media (max-width: 1199.98px) {
    .checkout-form .checkout__payment-methods {
        width: 100%;
    }
}
.checkout-form .checkout__payment-methods label {
    font-size: 1rem;
    line-height: 1.5rem;
}
.checkout-form .checkout__payment-methods label .option-detail {
    font-size: 0.875rem;
    margin: 0.625rem 0 0;
    display: none;
}
.checkout-form
    .checkout__payment-methods
    .form-check-input:checked
    ~ label
    .option-detail {
    display: block;
}
.checkout-form .checkout__payment-methods .policy-text {
    font-size: 0.75rem;
    line-height: 1.5rem;
}
.checkout-form .checkout__payment-methods .policy-text > a {
    color: #c32929;
}

.checkout__totals {
    border: 1px solid #222;
    margin-bottom: 1.25rem;
    padding: 2.5rem 2.5rem 0.5rem;
    width: 26.25rem;
}
@media (max-width: 1199.98px) {
    .checkout__totals {
        width: 100%;
    }
}
.checkout__totals > h3,
.checkout__totals > .h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}
.checkout__totals table {
    width: 100%;
}
.checkout__totals .checkout-cart-items thead th {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    font-weight: 500;
}
.checkout__totals .checkout-cart-items tbody td {
    padding: 0.40625rem 0;
    color: #767676;
}
.checkout__totals .checkout-cart-items tbody tr:first-child td {
    padding-top: 0.8125rem;
}
.checkout__totals .checkout-cart-items tbody tr:last-child td {
    padding-bottom: 0.8125rem;
    border-bottom: 1px solid #e4e4e4;
}
.checkout__totals .checkout-totals th,
.checkout__totals .checkout-totals td {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    font-weight: 500;
}
.checkout__totals .checkout-totals tr:last-child th,
.checkout__totals .checkout-totals tr:last-child td {
    border-bottom: 0;
}

.order-complete {
    width: 56.25rem;
    max-width: 100%;
    margin: 3.125rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}
.order-complete__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-complete__message svg {
    margin-bottom: 1.25rem;
}
.order-complete__message h3,
.order-complete__message .h3 {
    font-size: 2.1875rem;
    text-align: center;
}
.order-complete__message p {
    color: #767676;
    margin-bottom: 0;
    text-align: center;
}
.order-complete .order-info {
    width: 100%;
    border: 2px dashed #767676;
    padding: 2.5rem;
    display: flex;
    gap: 1rem;
}
@media (max-width: 767.98px) {
    .order-complete .order-info {
        flex-direction: column;
    }
}
.order-complete .order-info__item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex-grow: 1;
}
.order-complete .order-info__item label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #767676;
}
.order-complete .order-info__item span {
    font-size: 1rem;
    font-weight: 500;
}
.order-complete .checkout__totals {
    width: 100%;
}
.order-complete .checkout__totals .checkout-cart-items thead th:last-child {
    text-align: right;
}

.order-tracking {
    width: 31.25rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.order-tracking .btn-track {
    height: 3.75rem;
    font-size: 0.875rem;
}

.my-account .page-title {
    font-size: 2.1875rem;
    font-weight: 700;
    text-transform: uppercase;
}
.my-account .account-nav {
    list-style: none;
    padding: 0;
    padding-top: 2.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
}
.my-account .account-nav .menu-link.menu-link_active {
    pointer-events: none;
    color: #c32929;
}
.my-account .page-content {
    padding-top: 2.5rem;
}
.my-account__dashboard p {
    width: 43.125rem;
    max-width: 100%;
}
.my-account__dashboard .unerline-link {
    text-decoration: underline;
}
.my-account__orders-list {
    overflow-x: auto;
    width: 100%;
}
.my-account .orders-table {
    border: 1px solid #e4e4e4;
    width: 100%;
}
.my-account .orders-table thead th {
    background-color: #e4e4e4;
    padding: 1rem 1.875rem;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.my-account .orders-table tbody td {
    border-top: 1px solid #e4e4e4;
    padding: 1.875rem;
}
.my-account .orders-table tbody td:first-child {
    text-decoration: underline;
}
.my-account .orders-table tbody td:last-child {
    width: 12.5rem;
}
.my-account .orders-table tbody td .btn {
    height: 3.125rem;
    font-size: 0.875rem;
}
.my-account__address .notice {
    margin-bottom: 3.75rem;
}
.my-account__address-list {
    display: flex;
    gap: 5.625rem;
}
@media (max-width: 767.98px) {
    .my-account__address-list {
        flex-direction: column;
    }
}
.my-account__address-item {
    flex-grow: 1;
}
.my-account__address-item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.875rem;
    font-weight: 500;
}
.my-account__address-item__title h5,
.my-account__address-item__title .h5 {
    font-size: 1.125rem;
    margin: 0;
}
.my-account__address-item__title a {
    font-size: 0.8125rem;
    border-bottom: 2px solid;
}
.my-account__address-item__detail {
    line-height: 1.5rem;
}
.my-account__address-item__detail p {
    margin: 0;
}
.my-account__edit .btn-primary {
    width: 18.75rem;
    height: 3.75rem;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.my-account__wishlist .btn-remove-from-wishlist {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    z-index: 2;
    border: 0;
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}
.my-account__wishlist .product-card:hover .btn-remove-from-wishlist {
    opacity: 1;
    visibility: visible;
}

.blog-page-title {
    width: 112.5rem;
    height: 16rem;
    max-width: calc(100% - 1.875rem);
    border: 2px solid #e4e4e4;
    margin: 0 auto;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.25rem;
}
.blog-page-title .page-title {
    font-size: calc(1.5rem + 3vw);
    font-weight: 700;
    text-transform: uppercase;
}
@media (min-width: 1200px) {
    .blog-page-title .page-title {
        font-size: 3.75rem;
    }
}
.blog-page-title .title-bg {
    display: block;
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    z-index: -1;
}
.blog-page-title .title-bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 576px) {
    .blog-page-title {
        height: 27.5rem;
        padding: 0;
    }
}
.blog-page .flaticon {
    font-size: 0.625rem;
}
.blog__filter {
    display: flex;
    gap: 1rem;
    row-gap: 0;
    flex-wrap: wrap;
}
.blog__filter > a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.blog-grid__item {
    margin-bottom: 2.75rem;
}
.blog-grid__item-image {
    margin-bottom: 1.25rem;
}
.blog-grid__item-image img {
    display: block;
    width: 100%;
}
.blog-grid__item-meta {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
    color: #767676;
    margin-bottom: 0.25rem;
    white-space: nowrap;
}
.blog-grid__item-title {
    font-size: 1.625rem;
    margin-bottom: 1.875rem;
    line-height: 1.5;
}
@media (max-width: 991.98px) {
    .blog-grid__item-title {
        font-size: 1.125rem;
        margin-bottom: 1.25rem;
    }
}
.blog-grid__item-content p {
    margin-bottom: 0.625rem;
}
.blog-grid__item-content .readmore-link {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 500;
}
.blog-grid__item-content .readmore-link:after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 2px solid;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease;
}
.blog-grid__item-content .readmore-link:hover:after {
    width: 100%;
}
.blog-grid.row-cols-xl-3 .blog-grid__item-title {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}
.blog-list {
    margin-bottom: 3.125rem;
}
@media (min-width: 992px) {
    .blog-list {
        margin-bottom: 6.25rem;
    }
}
.blog-list__item {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}
@media (min-width: 992px) {
    .blog-list__item {
        flex-direction: row;
        align-items: center;
        gap: 3.125rem;
    }
}
.blog-list__item-image {
    flex: 0 0 100%;
    width: 100%;
}
@media (min-width: 992px) {
    .blog-list__item-image {
        flex: 0 0 calc(50% - 1.5625rem);
    }
}
.blog-list__item-image img {
    display: block;
    width: 100%;
}
.blog-list__item-detail {
    flex: 0 0 100%;
    padding: 0;
}
@media (min-width: 992px) {
    .blog-list__item-detail {
        flex: 0 0 calc(50% - 1.5625rem);
        padding: 1.875rem 0;
    }
}
.blog-list__item-meta {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
    color: #767676;
    margin-bottom: 0.25rem;
}
.blog-list__item-title {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}
@media (min-width: 992px) {
    .blog-list__item-title {
        font-size: 1.625rem;
        margin-bottom: 1.875rem;
    }
}
.blog-list__item-content p {
    margin-bottom: 0.625rem;
}
.blog-list__item-content .readmore-link {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 500;
}
.blog-list__item-content .readmore-link:after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 2px solid;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease;
}
.blog-list__item-content .readmore-link:hover:after {
    width: 100%;
}
.blog-single .page-title {
    margin-bottom: 0.875rem;
}
.blog-single__reviews-title {
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
}
.blog-single__reviews-list {
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
    margin-bottom: 2.375rem;
}
.blog-single__reviews-item {
    display: flex;
    gap: 1.875rem;
    border-bottom: 1px solid #e4e4e4;
}
.blog-single__reviews-item:last-child {
    border-bottom: 0;
}
.blog-single__reviews-item .customer-avatar {
    flex: 0 0 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 2rem;
    overflow: hidden;
}
.blog-single__reviews-item .customer-avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-single__reviews-item .customer-review .customer-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-single__reviews-item .customer-review .customer-name > h6,
.blog-single__reviews-item .customer-review .customer-name > .h6 {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.blog-single__reviews-item .customer-review .review-date {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #767676;
    margin-bottom: 1.25rem;
}
.blog-single__reviews-item .customer-review .review-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #767676;
    margin-bottom: 1.5rem;
}
.blog-single__review-form form > h5,
.blog-single__review-form form > .h5 {
    font-size: 1.125rem;
    margin-bottom: 0.375rem;
}
.blog-single__review-form form > p {
    font-size: 0.875rem;
    color: #767676;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
}
.blog-single__review-form form .select-star-rating {
    margin-bottom: 2rem;
}
.blog-single__review-form form button {
    text-transform: uppercase;
    font-size: 0.875rem;
    min-width: 12.5rem;
    height: 3.75rem;
}
.blog-single__item-meta {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
    color: #767676;
    margin-bottom: 2.625rem;
}
.blog-single__item-pagination {
    padding-top: 2.8125rem;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 3.125rem;
}
.blog-single__item-pagination p {
    margin-bottom: 2.625rem !important;
}
.blog-single__item-pagination a {
    color: #767676;
}
.blog-single p {
    margin-bottom: 1.875rem;
}
.blog-single p img {
    margin-bottom: 3.25rem;
}
.blog-single h5,
.blog-single .h5 {
    margin-bottom: 1.875rem;
}
.blog-single .text-list {
    margin-bottom: 1.875rem;
}
.blog-single .text-list__item {
    line-height: 1.875rem;
}
.blog-single__item-share {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    flex-direction: column;
}
@media (min-width: 992px) {
    .blog-single__item-share {
        flex-direction: row;
    }
}
.blog-single .btn-share {
    width: 13.75rem;
    height: 3.125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.875rem;
    color: #fff;
    padding: 0;
}
.blog-single .btn-share.btn-facebook {
    background-color: #306199;
}
.blog-single .btn-share.btn-twitter {
    background-color: #26c4f1;
}
.blog-single .btn-share.btn-pinterest {
    background-color: #e82b2d;
}
.blog-single .btn-share.btn-more {
    background-color: #222222;
    font-size: 1.5625rem;
    padding: 0;
    width: 3.125rem;
}
